h1{
    color:rgb(42, 254, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Audiowide", sans-serif;
    text-align: center;
}
body{
    background-color: rgb(228, 98, 12);
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
    color:white;
}
h2,p{
    background: rgba(255, 255, 255, 0.194);
    text-align: center;
    font-family: 'Lucida Handwriting',cursive;

}